body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.col {
    float: left;
}

/*
.puzzle-clue { width: 10%; }
.puzzle-col  { width: 9%; }
*/

.square {
  border: 1px solid #888;
  background: #fff;
  height: 46px;
  width: 46px;
  padding: 0;
  /* margin: -1px; */
}

.coin {
  stroke: #000;
  stroke-width: 1px;
  fill: #00f;
}

.space {
  stroke: none;
  fill: #4c4c4c;
}

.mistake {
  stroke: #f00;
  stroke-width: 2.5px;
}